extends typescript

snippet pcom "Presentational React Component" b
interface $1Props {
	$3
}

const $1 = ({ $2 }: $1Props) => (
	<${4:div}>
		$5
	</$4>
);

export { $1 };
endsnippet

snippet com "React Component" b
interface $1Props {
	$3
}

const $1 = ({ $2 }: $1Props) => {
	return (
		<${4:div}>
			$5
		</$4>
	);
};

export { $1 };
endsnippet
